li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

a:hover{
    color: green;
}


.evszakok{
  float: left;
}

img{
  border: 5px solid black;
  width: 200px;
  margin: 25px;
  transition: 1s;
  border-radius: 10%;
}

img:hover{
  transform: scale(1.3);
}

p{
  text-align: center;
}

.footer {
  left: 0;
  bottom: 0;
  background-color: red;
  color: gold;
  width: 400px;
  position: fixed;
  text-align: center;
}